body {
  margin: 0;
  font-family: PokemonGb;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: small;
}

code {
  font-family: PokemonGb, monospace;
  font-size: small;
}

@font-face {
  font-family: PokemonGb;
  src: url(PokemonGb-RAeo.ttf);
}

.Main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(195px, 1fr));
  grid-gap: 15px;
  margin: 15px;
}

.PokeCard {
  box-sizing: border-box;
  border: solid;
  border-color: #232323;
  cursor: pointer;
  height: 245px;
  max-width: 245px;
  background-color: #deddde;
  width: 100%;
  object-fit: cover;
}

.CardTitle {
  top: 0;
  margin-left: 10;
  font-size: 20;
  text-shadow: white 0 2px 8px;
}

.pagination {
  cursor: pointer;
}

.sprite-button {
  cursor: pointer;
  margin: 5;
  border: solid;
  border-color: #232323;
  width: 146;
  height: 30;
  font-family: PokemonGb;
  font-size: 8;
}

.detailed-grid {
  flex-direction: row;
  display: flex;
  justify-content: center;
  margin-top: 15;
}

.stats-title {
  margin-right: 5%;
  text-align: center;
}

.page-item a {
  background-color: white;
  color: black;
  float: left;
  padding: 5px 10px;
  font-size: small;
  margin: 1px;
  text-decoration: none;
  border: 1px solid black;
  margin-top: 5px;
}

.page-item a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.page-item a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.Nav {
  position: absolute;
  right: 0px;
  margin-right: 20px;
  top: 0px;
  background-color: black;
  padding-left: 30;
  display: inline-flex;
}
